body {
  padding: 0;
  margin: 0;
  background:url('../images/adventure-astro-astrophotography-1009136.jpg') -25px -50px;
  top:0;
  width:100%;
  z-index:0;
  height:100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
#startPageCarousel, #skills{
  background: rgba(255,255,255,.3);
  border-radius:5px;
  border:1px solid rgba(255,255,255,.3);
  text-shadow:0 1px 1px rgba(0,0,0,.4);
}
.firstCarouselImage{
background: url("../images/projetNasa.png");
}
.secondCarouselImage{
background: url("../images/ecoJQuery.png");
}
.thirdCarouselImage{
background: url("../images/ecoAngularJs.png");
}
.thirdCarouselImage{
background: url("../images/ecoAngularJs.png");
}
.fifthCarouselImage{
background: url("../images/storageWar.jpg");
}
.carousel-item{
  height: 80vh;
}
.imageCarousel{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 60vh;
}
.gridTile {
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    position: absolute;
    background: url("../images/gridtile.png") repeat;
    z-index: 100;
} 
.carousel-indicators{
  z-index: 2000;
  position: relative;
  top: 10px;
}
.carousel-indicators li{
  height: 6px;
  padding: 0 10%;
}
.progressBar {
  height: 10px;
  width: 100%;
  margin: -8px 0 0 0;
  border: none;
  z-index: 1;
  position: relative;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
}
.carousel-control-prev, .carousel-control-next{
  z-index: 101;
  padding-top: 60vh;
}
.carousel-caption{
  z-index: 1001;
}
.githubButton{
  border-width: 3px;
  font-weight: 800;
}